<div id="<%= dom_id visitor %>">
  <p>
    <strong>Name:</strong>
    <%= visitor.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= visitor.gender %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= visitor.Phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= visitor.address %>
  </p>

</div>
