<div id="<%= dom_id visitor %>">
<p>
<strong>Visitor_id:</strong>
<%= visitor.visitor_id %>
</p>
  <p>
    <strong>Name:</strong>
    <%= visitor.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= visitor.gender %>
  </p>

  <p>
    <strong>Phone_number:</strong>
    <%= visitor.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= visitor.address %>
  </p>

</div>
