<div id="<%= dom_id zookeeper %>">
  <p>
    <strong>Zookeeper_id:</strong>
    <%= zookeeper.zookeeper_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= zookeeper.name %>
  </p>
  <p>
    <strong>Gender:</strong>
    <%= zookeeper.gender %>
  </p>
  <p>
    <strong>Phone_number:</strong>
    <%= zookeeper.phone_number %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= zookeeper.email %>
  </p>
  <p>
    <strong>Experience_years:</strong>
    <%= zookeeper.experience_years %>
  </p>
  <p>
    <strong>Date of birth:</strong>
    <%= zookeeper.date_of_birth %>
  </p>

</div>
