<div id="<%= dom_id animal %>">
  <p>
    <strong>Animal_id:</strong>
    <%= animal.animal_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= animal.species %>
  </p>

  <p>
    <strong>Characteristic:</strong>
    <%= animal.characteristic %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= animal.location %>
  </p>

</div>
