<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Animal</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to animals_path, class: button_class(theme: "transparent") do %>
      All Animals
      <% end %>
      <%= link_to edit_animal_path(@animal), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @animal.name %></p>
      </li>
      <li>
        <p class="font-semibold">Species:</p>
        <p><%= @animal.species %></p>
      </li>
      <li>
        <p class="font-semibold">Characteristic:</p>
        <p><%= @animal.characteristic %></p>
      </li>
  </ul>
</div>
