<div id="<%= dom_id payment %>">
  <p>
    <strong>Payment_id:</strong>
    <%= payment.payment_id %>
  </p>

  <p>
    <strong>Visitor_id:</strong>
    <%= payment.visitor_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

</div>
